body {
  margin: 0;
  padding: 0;
  background: #ecf0f1;
}

#root {
  background: #ecf0f1;
}

.navbar-default {
  background: #16a085;
}

.navbar-header a {
  color: white !important;
  font-size: 24px !important;
}

.navbar-nav a {
  color: white !important;
  text-transform: uppercase;
  text-align: center;
}

.navbar-nav a:hover {
  color: #2980b9 !important;
  font-weight: bold;
}

.navbar-nav button {
  color: white !important;
  text-transform: uppercase;
  margin: 10px 10px;
}

.navbar-nav button:hover {
  color: #2980b9 !important;
  font-weight: bold;
}

a.navbar-brand {
  margin: 10px 10px;
}

.loginForm {
  text-align: center;
  margin-top: 80px;
  color: #16a085;
}

.loginForm input {
  height: 60px;
  font-size: 32px;
}

.loginForm button {
  height: 60px;
  font-size: 32px !important;
  text-transform: uppercase !important;
  line-height: 16px !important;
}

.loginForm form div {
  margin: 30px 0;
}

.loginForm form .ui.label {
  float: left;
  margin-bottom: -14px;
  margin-left: 10px !important;
  background-color: white;
  color: #16a085;
}


.ui.segment.lorry {
  min-height: 400px;
  display: flex;
  justify-content: center;
}

.row.items .segment{
  min-height: 600px;
  padding-bottom: 20px;
}

.head h1 {
  text-align: center;
  color: #16a085;
  text-transform: uppercase;
}
.settings .row.agents .segment{
  min-height: 600px !important;
}

.settings .segment.searchResults {
  overflow: scroll !important;
  min-height: 500px !important;
}

.AgentDetails .buttonGroup {
    margin: auto;
    text-align: center ;
}


.buy .cart .segment{
  height: 320px !important;
  position: fixed;
  bottom: 10px;
  left: 0px;
  width: 100%;
  background-color: #ecf0f1;
}

.buy .cart .segment .statistics {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.buy .cart .segment .summary {
  /*position: absolute;*/
}


.buy .cart .cards .card {
  height: 200px;
  width: 180px;
  display: inline-block !important;
  margin: 10px 10px;
  float: left;
  white-space: nowrap;
}

.buy .products .segment{
  height: 800px;
  margin-bottom: 320px;
}

.lorry .progress .bar{
  height: 120px !important;
}

.lorry .ui.active.progress .bar {
  position: relative;
  min-width: 0.5em;
}

.lorry .progress{
  height: 120px !important;
}


.segment.lorry .lorry {
  width: 300px;
  margin: auto;
  margin-right: 162px;
}

footer {
  text-align: center;
  margin: 2px 4px;
  color: #2980b9;
  font-weight: bolder;
}

.container {
  min-height: 800px;
  padding-top: 75px;
}

.nav-container {
  width: 80%;
  margin: auto;
}

.navbar-static-top {
  position: fixed;
  width: 100%;
  margin: auto;
}

.currentOrder .card .header {
  color: #2980b9 !important;
}

.currentOrder .ui.fluid.card {
    background: #ecf9f2;
}

.subAgentOrders .card .header {
  color: #2980b9 !important;
}

.subAgentOrders .ui.fluid.card {
  background: #ebf0fa;
  margin-bottom: 8px;
}

.currentOrder .extra.content {
  background: #1abc9c !important;
}

.currentOrder .extra h5.header {
  color: blue !important;
}

.orderSummary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 40px;
}

.orderSummary img.ui.image {
  margin: auto !important;
  position: absolute !important;
  z-index: 200;
  top: 0; bottom:0; left: 0; right:0;
  transform: scale(.98, .98);
  margin-top: 60px !important;
}

.ui.grid.orderSummaryControls {
  margin-top: 60px !important;
  z-index: 210;
  opacity: 0.9;
}


.orderSummaryControls .column button.ui.button {
  font-size: 14px;
}

.orderSummaryControls .column button.ui.button.buttonAsLabel {
  opacity: 1 !important;
}


.orderSummaryControls .column .ui.search.dropdown {
  font-size: 14px;
}

.orderSummaryControls .ui.selection.dropdown .menu>.item {
  font-size: 14px;
}

.orderSummaryControls .ui.search.selection.dropdown .text {
  font-weight: bolder;
  color: #2980b9;
}

.orderSummary .bar .progress {
  background: transparent;
  font-size: 24px !important;
  color: black !important;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  box-shadow: none !important;
}

.orderSummary .ui.visible.message.blink {
  text-align: center;
  font-weight: bold;
  color: red;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
}

.orderSummary .splMsg {
  color: #2980b9;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.orderDetails .currentOrder .subAgentOrder {
  padding: 8px 0;
  margin-top: 10px;
}

.orderDetails .summary td.value {
  text-align: right;
  padding-left: 20px;
}

.orderDetails .summary td.key {
  text-align: right;
}

.orderDetails .summary {
  margin: auto;
  text-align: center;
  margin: 20px 20px;
}

.orderDetails .summary table {
  margin: auto;
}

.orderDetails .summary h2 {
  margin-bottom: 0;
  color: #16a085;
}

.orderDetails .summary h5 {
  margin: 0 0;
}

.orderDetails .summary h5 span {
  color: #2980b9;
}

.orderDetails .summary h5 strong {
  color: #2980b9;
}

.orderDetails .summary  button.ui.fluid.button {
  width: 60%;
  margin: auto;
  text-transform: uppercase;
}

.orderDetails .splMsg {
  text-align: center;
}

.orderDetails .splMsg p {
  padding: 10px 10px;
  border: 1px solid #ffe066;
  background: #ffe066;
  width: 60%;
  margin: auto;
}

.fieldAgentOrders h5.ui.center.aligned.header {
  text-transform: uppercase;
}

.extra.content h5.ui.right.header {
  margin-bottom: 0;
}

td strong {
  color: #2980b9;
}

.menu.transition.visible span.text {
  font-weight: bolder;
  color: #2980b9;
}

.ui.search.selection.dropdown .text{
  font-weight: bolder;
  color: #2980b9;
}

.home .ui.image {
  overflow: hidden !important;
}

.cart .ui.grid .row {
  margin: auto;
}

.buy .products .ui.cards>.card {
  width: 200px;
}

.buy .products .ui.cards>.card>.image {
  background: transparent !important;
  margin-top: 8px;
}

.buy .products .ui.segment.productsContainer {
    background: #ecf0f1;
}

.addToCart.ui.modal .image.content .description {
  padding-right: 2em;
  width: 60%;
}

.addToCart .ui.image {
  margin: auto;
  width: 40% !important;
}

.addToCart .ui.image img {
  margin: auto;
}

.addToCart input[type="number"] {
  padding: 0 0 !important;
  font-size: 20px !important;
}

.description table td.right.aligned.bigger {
  font-weight: bold;
  font-size: 14px;
  justify-content: center;
  background: #2ecc71;
}

.description .ui.cards>.card>.content>.header:not(.ui) {
  color: #3498db !important;
  margin: 4px 0;
}

.shopsDetails h2.ui.inverted.right.aligned.header span.price {
  color: #3498db;
  font-size: 20px;
}

.shopsDetails h2.ui.inverted.right.aligned.header span.quantity {
  color: #34495e;
}

.shopsDetails .ui .content .header {
  color: #2980b9;
}

.viewModal .header {
  color: orange !important;
}

.viewModal .content .header {
  color: #2980b9 !important;
}

.viewModal .content span.price {
  font-size: 20px;
}

.viewModal .content span.quantity {
  color: #34495e;
}

.viewModal .content .meta.discount {
  font-size: 12px;
  margin-top: -10px;
}

.viewModal .sequence {
  display: none;
}

.currentOrder .content .header {
  color: #2980b9 !important;
}

.currentOrder .content span.price {
  font-size: 20px;
}

.currentOrder .content span.quantity {
  color: #34495e;
}

.currentOrder .content .meta.discount {
  font-size: 12px;
  margin-top: -10px;
}

.helpText {
  position: absolute;
  bottom: 0px;
  margin: 4px 10px;
  color: #34495e;
}

.ui.label.numberEdit {
  padding: 0;
}

.numberEdit i.icon {
  margin-left: 0.75em !important;
}

.numberEdit input[type="number"] {
  width: 72px;
  padding: 0;
  height: 24px;
  font-size: 16px;
  font-weight: bolder;
  color: #e67e22;
}
