body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar-default {
  background: #16a085;
}

.navbar-header a {
  color: white !important;
  font-size: 24px !important;
}

.navbar-nav a {
  color: white !important;
  text-transform: uppercase;
  text-align: center;
}

.navbar-nav a:hover {
  color: #2980b9 !important;
  font-weight: bold;
}

.navbar-nav button {
  color: white !important;
  text-transform: uppercase;
  margin: 10px 10px;
}

.navbar-nav button:hover {
  color: #2980b9 !important;
  font-weight: bold;
}

a.navbar-brand {
  margin: 10px 10px;
}

.loginForm {
  text-align: center;
  margin-top: 80px;
  color: #16a085;
}

.loginForm input {
  height: 60px;
  font-size: 32px;
}

.loginForm button {
  height: 60px;
  font-size: 32px !important;
  text-transform: uppercase !important;
  line-height: 16px !important;
}

.loginForm form div {
  margin: 30px 0;
}

.loginForm form .ui.label {
  float: left;
  margin-bottom: -14px;
  margin-left: 10px !important;
  background-color: white;
  color: #16a085;
}


.ui.segment.lorry {
    height: 400px;
}

.row.items .segment{
  height: 600px;
}

.head h1 {
  text-align: center;
  color: #16a085;
  text-transform: uppercase;
}
.settings .row.agents .segment{
  height: 600px !important;
}

.settings .segment.searchResults {
  overflow: scroll !important;
  height: 500px !important;
}

.AgentDetails .buttonGroup {
    margin: auto;
    text-align: center ;
}


.buy .cart .segment{
  height: 320px !important;
  position: fixed;
  bottom: 10px;
  left: 0px;
  width: 100%;
  background-color: #ecf0f1;
}

.buy .cart .segment .statistics {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.buy .cart .segment .summary {
  /*position: absolute;*/
}


.buy .cart .cards .card {
  height: 200px;
  width: 180px;
  display: inline-block !important;
  margin: 10px 10px;
  float: left;
  white-space: nowrap;
}

.buy .products .segment{
  height: 800px;
  margin-bottom: 320px;
}

.lorry .progress .bar{
  height: 200px !important;
}

.lorry .progress{
  height: 200px !important;
}


.segment.lorry .lorry {
  width: 60%;
  margin: auto;
}

footer {
  text-align: center;
  margin: 2px 4px;
  color: #2980b9;
  font-weight: bolder;
}

.container {
  min-height: 800px;
}
