body {
  margin: 0;
  padding: 0;
}

#root {
  background: #ecf0f1;
}

.navbar-default {
  background: #16a085;
}

.navbar-header a {
  color: white !important;
  font-size: 24px !important;
}

.navbar-nav a {
  color: white !important;
  text-transform: uppercase;
  text-align: center;
}

.navbar-nav a:hover {
  color: #2980b9 !important;
  font-weight: bold;
}

.navbar-nav button {
  color: white !important;
  text-transform: uppercase;
  margin: 10px 10px;
}

.navbar-nav button:hover {
  color: #2980b9 !important;
  font-weight: bold;
}

a.navbar-brand {
  margin: 10px 10px;
}

.loginForm {
  text-align: center;
  margin-top: 80px;
  color: #16a085;
}

.loginForm input {
  height: 60px;
  font-size: 32px;
}

.loginForm button {
  height: 60px;
  font-size: 32px !important;
  text-transform: uppercase !important;
  line-height: 16px !important;
}

.loginForm form div {
  margin: 30px 0;
}

.loginForm form .ui.label {
  float: left;
  margin-bottom: -14px;
  margin-left: 10px !important;
  background-color: white;
  color: #16a085;
}


.ui.segment.lorry {
  min-height: 400px;
  display: flex;
  justify-content: center;
}

.row.items .segment{
  min-height: 600px;
}

.head h1 {
  text-align: center;
  color: #16a085;
  text-transform: uppercase;
}
.settings .row.agents .segment{
  min-height: 600px !important;
}

.settings .segment.searchResults {
  overflow: scroll !important;
  min-height: 500px !important;
}

.AgentDetails .buttonGroup {
    margin: auto;
    text-align: center ;
}


.buy .cart .segment{
  height: 320px !important;
  position: fixed;
  bottom: 10px;
  left: 0px;
  width: 100%;
  background-color: #ecf0f1;
}

.buy .cart .segment .statistics {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.buy .cart .segment .summary {
  /*position: absolute;*/
}


.buy .cart .cards .card {
  height: 200px;
  width: 180px;
  display: inline-block !important;
  margin: 10px 10px;
  float: left;
  white-space: nowrap;
}

.buy .products .segment{
  height: 800px;
  margin-bottom: 320px;
}

.lorry .progress .bar{
  height: 200px !important;
}

.lorry .progress{
  height: 200px !important;
}


.segment.lorry .lorry {
  width: 65%;
  margin: auto;
  margin-left: 280px;
  margin-bottom: 120px;
}

footer {
  text-align: center;
  margin: 2px 4px;
  color: #2980b9;
  font-weight: bolder;
}

.container {
  min-height: 800px;
  padding-top: 75px;
}

.nav-container {
  width: 80%;
  margin: auto;
}

.navbar-static-top {
  position: fixed;
  width: 100%;
  margin: auto;
}

.currentOrder .card .header {
  color: #2980b9 !important;
}

.currentOrder .ui.fluid.card {
    background: #ecf9f2;
}

.subAgentOrders .card .header {
  color: #2980b9 !important;
}

.subAgentOrders .ui.fluid.card {
  background: #ebf0fa;
  margin: 8px;
}

.currentOrder .extra.content {
  background: #1abc9c !important;
}

.currentOrder .extra h5.header {
  color: blue !important;
}

.orderSummary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

.orderSummary img.ui.huge.image {
  margin: auto !important;
  position: absolute !important;
  z-index: 200;
  position: absolute;
}

.ui.grid.orderSummaryControls {
  margin-top: 60px !important;
}

.orderSummary .bar .progress {
  background: transparent;
  font-size: 24px !important;
  color: black !important;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  box-shadow: none !important;
}

.orderSummary .ui.visible.message.blink {
  text-align: center;
  font-weight: bold;
  color: red;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.orderDetails .currentOrder .subAgentOrder {
  padding: 8px 0;
}

.orderDetails .summary td.value {
  text-align: right;
  padding-left: 20px;
}

.orderDetails .summary td.key {
  text-align: right;
}

.orderDetails .summary {
  margin: auto;
  text-align: center;
  margin: 20px 20px;
}

.orderDetails .summary table {
  margin: auto;
}

.orderDetails .summary h2 {
  margin-bottom: 0;
  color: #16a085;
}

.orderDetails .summary h5 {
  margin: 0 0;
}

.orderDetails .summary h5 span {
  color: #2980b9;
}

.orderDetails .summary h5 strong {
  color: #2980b9;
}

.orderDetails .summary  button.ui.fluid.button {
  width: 60%;
  margin: auto;
  text-transform: uppercase;
}

.fieldAgentOrders h5.ui.center.aligned.header {
  text-transform: uppercase;
}

.extra.content h5.ui.right.header {
  margin-bottom: 0;
}

td strong {
  color: #2980b9;
}

.menu.transition.visible span.text {
  font-weight: bolder;
  color: #2980b9;
}
.ui.search.selection.dropdown .text{
  font-weight: bolder;
  color: #2980b9;
}
